# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django相关
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 环境配置
.env
.env.local

# IDE相关
.idea/
.vscode/
*.swp
*.swo
    